* {
    margin: 0;
    padding: 0;
}

.contenedor_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.contenedor_secundario {
    display: flex;
    flex-direction: column;
}